################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/finaleProject/v15
/Release/finaleProject.tlog
/Release
finalProject/.vs/finaleProject/v15/.suo
finalProject/.vs/finaleProject/v15/Browse.VC.db
